<!-- DOCTYPE html -->
{% for player in players %} {{ player.user.first_name }}{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if players.has_previous %}
            <a href="?page={{ players.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ players.number }} of {{ players.paginator.num_pages }}.
        </span> {% if players.has_next %}
    <a href="?page={{ players.next_page_number }}">next</a> {% endif %}
    </span>
</div>